* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: monospace;

  width: 90%;
}
.calc {
  background-color: black;
  color: white;
  text-align: right;
  width: 400px;
}
.row {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  margin-bottom: 0.25%;
}
.screen {
  background-color: black;
  color: white;
  font-size: 80px;
  padding: 20px 5px;
}
.btn {
  background-color: #d8d9db;
  border: none;
  border-radius: 0;
  cursor: pointer;
  font-size: 40px;
  width: 24.5%;
  height: 100px;
  margin: 0.25%;
}
.btn:hover {
  background-color: #ebebeb;
}
.btn:active {
  background-color: #bbbcbe;
}
.btn:last-child {
  background-color: #df974c;
}
.btn:last-child:hover {
  background-color: #dfb87e;
}
.btn:last-child:active {
  background-color: #dd8d37;
}
.btn_dbl {
  width: 49.7%;
}
.btn_triple {
  width: 74.8%;
}
